:root {
  --main-bg-color: rgb(50, 38, 38);
  --page-bg-color: rgb(63, 50, 50);
  --footer-bg-color: rgb(93, 75, 75);
  --header-bg-color: rgb(93, 75, 75);
  --main-txt-color: rgb(240, 206, 206);
  --footer-txt-color: rgb(240, 206, 206);
  --page-title-color: rgb(252, 160, 0);
  --main-title-color: rgb(242, 170, 44);
  --main-link-color: rgb(85, 171, 246);
  --file-info-color: rgb(7, 162, 82);
  --table-header-bg-color: rgb(106, 34, 3);
  --table-header-txt-color: rgb(255, 162, 0);
  --tab-bg-color: rgb(137, 87, 0);
  --tab-active-bg-color: rgb(255, 162, 0);
  --tab-hover-bg-color: rgb(255, 225, 0);
  --watermark-color: rgb(0, 0, 0);
}

body {
  background-color: var(--page-bg-color);
  color: var(--main-txt-color);
  font-family: Lucida Grande, Lucida Sans, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.box-shadow {
  box-shadow: 4px 4px 4px black;
}

.fgm-bg-light {
  background-color: var(--page-bg-color) !important;
}

.fgm-bg-dark {
  background-color: var(--main-bg-color) !important;
}

.feature {
    border: 1px solid #ffe100;
    font-size: 1.2em;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 16px 16px 16px;
    background-color: var(--main-bg-color);
    margin: 10;
    text-shadow: 3px 3px 3px #333333;
}

.header {
    border: 1px solid #ffe100;
    font-size: 1.2em;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 16px 16px 16px;
    background-color: var(--footer-bg-color);
    margin: 10;
    text-shadow: 3px 3px 3px #333333;
}

.notice {
    border: 1px solid #ff0000;
    font-size: 1.2em;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 16px 16px 16px;
    background-color: var(--tab-active-bg-color);
    margin: 10;
    color: var(--main-bg-color);
    text-shadow: 3px 3px 3px  var(--tab-hover-bg-color);
}

iframe {
    width: 100%;
    height: 55vh;
}