h2 {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

html {
    nowhitespace: afterproperty;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font: 14px/1.6 'Oxygen',sans-serif;
    color: #606060;
}