name: Production - Deploy to FMD v2

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy to FMD
    runs-on: ubuntu-latest
    steps:


    - name: Converts Markdown to HTML
      uses: jaywcjlove/markdown-to-html-cli@main
      with:
        source: contrib_docs/building_wise.md
        output: contrib_docs/building_wise.html
        github-corners: https://github.com/jaywcjlove/markdown-to-html-cli
       
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_NAME }}
        password: ${{ secrets.SERVER_PASS }}
        proxy_host: ${{ secrets.PROXY_HOST }}
        proxy_username: ${{ secrets.SERVER_NAME }}
        proxy_password: ${{ secrets.SERVER_PASS }}
        script: |
          cd wise_docs
          git checkout main
          git pull
          docker-compose up -d --build
          
